fastapi
uvicorn[standard]
pydantic
pandas
requests
python-multipart
python-jose[cryptography]
datetime
contextlib
models
auth

fastapi
uvicorn[standard]


python-jose[cryptography]    # For JWT token encoding/decoding
passlib[bcrypt]              # For password hashing
python-multipart             # For handling form-data (e.g. login forms)
bcrypt                       # Hash algorithm backend for passlib

pymongo

pydantic                    
random
typing


python-dotenv                # For loading environment variables


